<?xml version="1.0" encoding="UTF-8"?>
<window>
<defaultcontrol always="true">9000</defaultcontrol>
<allowoverlay>yes</allowoverlay>
<controls>
    <!--background-->
    <include condition="!Skin.HasSetting(lights.out)">GlobalBackground</include>
    <include>Furniture_EmbyHeader</include>
    <include>Furniture_EmbyClock</include>
    <include>Furniture_NowPlaying</include>
    <!--main menu-->
    <control type="group">
        <posx>col-4-begin</posx>
        <posy>row-7-begin</posy>
        <!--animations-->
        <include>Animation.Common</include>
        <control type="image">
            <posx>0</posx>
            <posy>0</posy>
            <width>18-col</width>
            <height>2-row</height>
            <texture>common/white.png</texture>
            <colordiffuse>$VAR[EmbyMenuTextColourHighlight]</colordiffuse>
            <aspectratio>stretch</aspectratio>
        </control>
        <control type="image">
            <posx>0</posx>
            <posy>2-row</posy>
            <width>18-col</width>
            <height>12-row</height>
            <texture colordiffuse="$VAR[EmbyMenuColourHighlight]" border="16">common/box.png</texture>
            <aspectratio>stretch</aspectratio>
        </control>
        <control type="label">
            <posx>12</posx>
            <posy>-10</posy>
            <width>8-col</width>
            <height>2-row</height>
            <aligny>center</aligny>
            <font>MediumBold</font>
            <label>$LOCALIZE[5]</label>
            <textcolor>$VAR[EmbyMenuColourHighlight]</textcolor>
            <shadowcolor>-</shadowcolor>
        </control>
        <!--menu-->
        <control type="Panel" id="9000">
            <posx>12</posx>
            <posy>2-row</posy>
            <width>18-col</width>
            <height>12-col</height>
            <onup>9000</onup>
            <ondown>9000</ondown>
            <itemlayout width="6-col" height="3-row">
                <control type="image">
                    <posx>0</posx>
                    <posy>18</posy>
                    <width>1-col</width>
                    <height>1-col</height>
                    <aspectratio scalediffuse="false">scale</aspectratio>
                    <texture>common/white.png</texture>
                    <colordiffuse>$VAR[EmbyMenuColourHighlight]</colordiffuse>
                </control>
                <control type="label">
                    <posx>0</posx>
                    <posy>0</posy>
                    <width>1-col</width>
                    <height>3-row</height>
                    <align>center</align>
                    <aligny>center</aligny>
                    <font>symbolbig</font>
                    <textcolor>$VAR[EmbyMenuTextColourHighlight]</textcolor>
                    <label>$INFO[ListItem.label2]</label>
                </control>
                <control type="label">
                    <posx>84</posx>
                    <posy>0</posy>
                    <width>5-col-gutter</width>
                    <height>2-row</height>
                    <aligny>center</aligny>
                    <font>TinyBold</font>
                    <textcolor>$VAR[EmbyMenuTextColourHighlight]</textcolor>
                    <label>$INFO[ListItem.label]</label>
                </control>
                <control type="label">
                    <posx>84</posx>
                    <posy>1-row</posy>
                    <width>5-col-gutter</width>
                    <height>2-row</height>
                    <aligny>center</aligny>
                    <font>Tiny</font>
                    <textcolor>$VAR[EmbyMenuTextColourHighlight]</textcolor>
                    <label>$INFO[listitem.property(label3)]</label>
                </control>
            </itemlayout>
            <focusedlayout width="6-col" height="3-row">
                <control type="image">
                    <posx>0</posx>
                    <posy>18</posy>
                    <width>1-col</width>
                    <height>1-col</height>
                    <aspectratio scalediffuse="false">scale</aspectratio>
                    <texture>common/white.png</texture>
                    <colordiffuse>$VAR[ColourHighlight]</colordiffuse>
                    <include>spinFocusIcon</include>
                </control>
                <control type="label">
                    <posx>0</posx>
                    <posy>0</posy>
                    <width>1-col</width>
                    <height>3-row</height>
                    <align>center</align>
                    <aligny>center</aligny>
                    <font>symbolbig</font>
                    <textcolor>$VAR[ColourSelected]</textcolor>
                    <label>$INFO[ListItem.label2]</label>
                </control>
                <control type="label">
                    <posx>84</posx>
                    <posy>0</posy>
                    <width>5-col-gutter</width>
                    <height>2-row</height>
                    <aligny>center</aligny>
                    <font>TinyBold</font>
                    <textcolor>$VAR[ColourSelected]</textcolor>
                    <label>$INFO[ListItem.label]</label>
                </control>
                <control type="label">
                    <posx>84</posx>
                    <posy>1-row</posy>
                    <width>5-col-gutter</width>
                    <height>2-row</height>
                    <aligny>center</aligny>
                    <font>Tiny</font>
                    <textcolor>$VAR[ColourSelected]</textcolor>
                    <label>$INFO[listitem.property(label3)]</label>
                </control>
            </focusedlayout>
            <content>
                <item id="1">
                    <description>Appearance</description>
                    <label>480</label>
                    <label2></label2>
                    <property name="label3">Skin • Screensaver</property>
                    <onclick>activatewindow(AppearanceSettings)</onclick>
                </item>
                <item id="2">
                    <description>Videos</description>
                    <label>3</label>
                    <label2></label2>
                    <property name="label3">File Lists • $LOCALIZE[24012]</property>
                    <onclick>activatewindow(VideosSettings)</onclick>
                </item>
                <item id="9">
                    <label>$LOCALIZE[19191]</label>
                    <label2></label2>
                    <property name="label3">Live TV • EPG</property>
                    <onclick>ActivateWindow(PVRSettings)</onclick>
                </item>
                <item id="3">
                    <description>Music</description>
                    <label>2</label>
                    <label2></label2>
                    <property name="label3">File Lists • CDs</property>
                    <onclick>activatewindow(MusicSettings)</onclick>
                </item>
                <item id="4">
                    <description>Addons</description>
                    <label>24001</label>
                    <label2></label2>
                    <property name="label3">System extensions</property>
                    <onclick>activatewindow(AddonBrowser)</onclick>
                </item>
                <item id="5">
                    <description>Pictures</description>
                    <label>1</label>
                    <label2></label2>
                    <property name="label3">File Lists • Slideshows</property>
                    <onclick>activatewindow(PicturesSettings)</onclick>
                </item>
                <item id="6">
                    <description>Weather</description>
                    <label>8</label>
                    <label2></label2>
                    <property name="label3">Locations • Addons</property>
                    <onclick>activatewindow(WeatherSettings)</onclick>
                </item>
                <item id="7">
                    <description>Services</description>
                    <label>14036</label>
                    <label2></label2>
                    <property name="label3">Networking • Airplay</property>
                    <onclick>activatewindow(ServiceSettings)</onclick>
                </item>
                <item id="8">
                    <description>System</description>
                    <label>13000</label>
                    <label2></label2>
                    <property name="label3">$LOCALIZE[14094] • $LOCALIZE[14095]</property>
                    <onclick>activatewindow(SystemSettings)</onclick>
                </item>
                <item id="9">
                    <description>Profiles</description>
                    <label>13200</label>
                    <label2></label2>
                    <property name="label3">Login settings • Users</property>
                    <onclick>activatewindow(profiles)</onclick>
                </item>
                <item id="10">
                    <description>File Manager</description>
                    <label>10003</label>
                    <label2></label2>
                    <property name="label3">Copy Files • Transfer</property>
                    <onclick>activatewindow(3)</onclick>
                </item>
                <item id="11">
                    <label>130</label>
                    <label2></label2>
                    <property name="label3">CPU • Hardware</property>
                    <icon>special://skin/extras/icons/sysinfo.png</icon>
                    <onclick>activatewindow(7)</onclick>
                </item>
            </content>
        </control>
    </control>
</controls>
</window>